<div class="column">
<div class="introduction">
<h1 class="ui header">
<span class="library transition visible">[<%= settings.app[:name] %>] IPアドレス登録</span>
<span class="text">
アクセス制限解除を行うIPアドレスを登録します。<br/>
次のIPアドレスでよろしければ、登録をクリックしてください。<br/>
</span>
</h1>
<br/>
<form method=post>
<div class="main form container">
<div class="ui segment" style="min-height: 8rem;">
<div class="ui top left attached label">登録するIPアドレス</div>
<div class="ui statistic">
<span class="value"><%= request.ip %></span>
</div>
</div>
<input type="hidden" name="addr" value="<%= request.ip %>"><br/>
<input type="submit" value="　登録　" class="ui huge basic teal download button">
</div>
</form>
</div>
</div>
<div class="ui footer">
<div class="container">
お問い合わせは、インフラ担当社員にお願いいたします。
</div>
</div>
