<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>[bizevo] IPアドレス登録</title>
<link rel="stylesheet" href="assets/lib.css" type="text/css">
<link rel="stylesheet" href="platform.css" type="text/css">
<script type="text/javascript" src="assets/lib.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
