<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>[<%= settings.app[:name] %>] IPアドレス登録</title>
  <link rel="stylesheet" href="/assets/lib.css" type="text/css">
  <link rel="stylesheet" href="/bastion.css" type="text/css">
  <script type="text/javascript" src="/assets/lib.js"></script>
  <script type="text/javascript" src="/bastion.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
