<div class="column">
  <div class="introduction">
    <h1 class="ui header">
      <span class="library transition visible">[bizevo] IPアドレス登録</span>
    </h1>
    <br/>
    <div class="main form container">
      <div class="ui segment" style="min-height: 8rem;">
        <div class="ui top left attached label">結果</div>
        <div class="ui statistic">
          <span class="value"><%= @msg %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui footer">
  <div class="container">
  お問い合わせは、インフラ担当社員にお願いいたします。
  </div>
</div>
