<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>[bizevo] IPアドレス登録</title>
</head>
<body>
<div align="center">
<h2>[bizevo] IPアドレス登録</h2>
<%= @msg %>
<br/><br/><hr>
お問い合わせは、インフラ担当社員にお願いいたします。
</div></body></html>
