<div class="ui main container">
  <h1 class="ui header">ユーザ一覧</h1>
  <button class="ui primary button" id="js-user-add">新規登録</button>
  <table class="ui table">
    <thead>
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>コメント</th>
        <th>作成日時</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td><%= u.comment %></td>
        <td><%= u.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="ui modal" id="js-user-add-modal">
  <i class="close icon"></i>
  <div class="header">
    ユーザ新規登録
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <div class="ui fluid input">
          <input id="name" name="name" placeholder="ユーザ名" type="text">
        </div>
      </div>
      <div class="field">
        <div class="ui fluid input">
          <input id="email" name="name" placeholder="メールアドレス" type="text">
        </div>
      </div>
      <div class="field">
        <div class="ui fluid input">
          <input id="comment" name="name" placeholder="コメント" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">Cancel</div>
    <div class="ui positive button">OK</div>
  </div>
</div>
